{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>
	<body>
		<br />
		<br />
		<br />
		<br />
			<h1>Welcome to HTML and CSS!</h1>



			<input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: rgb(100, 100, 100); color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="What is HTML?" onclick="window.open('https://www.w3schools.com/html/html_intro.asp')">
			<input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: rgb(100, 100, 100); color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="What is CSS?" onclick="window.open('https://www.w3schools.com/css/css_intro.asp')">


			<br />
			<br />
			<br />
			<p2>Unfamiliar with the basics of HTML and CSS?  Check out the links above to get a better understanding of what HTML and CSS are all about!</p2>
			<br />
			<div id="myDiv" name="myDiv" title="Example Div Element" style="font-family: Helvetica; font-size: 12pt; border: 1px solid black;">
			  <div id="subDiv1" name="subDiv1" title="Subdivision Div Element" style="color: rgb(200,200,200); border: 1px solid black;">
				<h5>Getting Started!</h5>
				<p>As a first experience in coding, we're going to learn the basics of HTML and CSS. These are the two languages used to create webpages. Whether you're a pro, or you've never coded before, this is a great place to jump in and actually do coding!

		As an added bonus, you don't need install anything on your computer to get started.

		Why HTML/CSS?

		Because webpages aren't actually programs. You'll be learning the basic idea of how we give a computer commands - how we teach a computer to do things without the added complexity of creating a full program.

		What should you take away from this?

		</p>
				<p>A computer will always do EXACTLY what you ask it, even when you ask it to do something other than what you intended
				How to break out a complicated idea into simple steps that can be followed in order to achieve a desired outcome
				The importance of syntax - that formatting in computer code is critical
				That you only need to memorize a FEW commands. It's much more effective to know about the basic ideas and then search the web for what you need as you write your code.
		</p>
				<br />

				<p1>Where do I go?</p1>

				<p>Codecademy is an online interactive platform that offers free coding classes in 12 different programming languages. We will make use of it a few times in this course.</p>
		<br />
		<br />
				<p>NOTE: Codecademy offers a paid upgraded service. You are NOT required to purchase these upgrades.</p>

			  <p>  To get started, click the Codecademy button below!
			  </p>
				<br />
				<br />
				<br />


				</div>
			  <br />
			  <div id="subDiv2" name="subDiv2" title="Subdivision Div Element" style="color: rgb(200, 200, 200);border: 1px solid black;">
				<h5>Complete HTML and Learn CSS for Codecademy!</h5>
				<p>Codecademy is an excellent open-source learning platform which lives completely on the web. No need to install anything on your computer (yet). Click the link below to complete the HTML and CSS course at Codecademy.</p>
		<br />

		<p> Complete the entire course (without the paid options) at Codecademy, then come back here. </p>
		<br />
		<p>
		Course Name: Learn HTML and CSS
		Language: HTML and CSS
		Estimated Time to Complete: 10 Hours.</p>
		<br />
		<br />
		<p3>NOTE: Codecademy offers paid upgrades that include quizzes and projects. You are NOT required to pay for the upgraded access or complete these activities.</p3>
		<br />
		<br />
		<input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: rgb(100, 100, 100); color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="HTML/CSS Codecademy" onclick="window.open('https://www.codecademy.com/en/tracks/web')">
		<br />
		<br />
			  </div>
			  <br />
			  <div id="subDiv3" name="subDiv3" title="Subdivision Div Element" style="color: rgb(200, 200, 200);border: 1px solid black;">
				<h5>After completion, take the quiz at the link below!</h5>
				<p>This is where the link to the quiz would be (Canvas?)</p>
			  </div>
			</div>
			<br />
			<!-- ***** This code can be used later on for boxes and other cool editing things, it is not necessary now tho!
			<div id="myDiv" name="myDiv" title="Second Example Div Element" style="font-family: Helvetica; font-size: 12pt; border: 1px solid black;">
			  <div style="width:500px;height:400px;border:1px solid #000;">     This is a where some information can go!</div>
			<br />
			  <div style="width:300px;height:100px;border:1px solid #000; margin-left: 500px;">    This is a where other information can go!</div>
			<br />
			  <div style="width:300px;height:100px;border:1px solid #000; margin-left: 1000px;">This is another section for awesome information!</div>
			</div>
			This code makes a paragraph -->
		</body>
</html>		